.button {
  cursor: grab;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1.5px solid var(--primary);
  background: var(--secondary);
  border-radius: 15px;
  color: var(--primary);
  white-space: nowrap;
}

.button:hover {
  background: var(--primary);
  color: var(--secondary);
}
